@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  margin:0;
  padding:0;
  -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box; 
}

html {
  min-height:100%;
  border-top:10px solid #ECEEF1;
  border-bottom:10px solid #ECEEF1;
  color:#34495e;
  font-weight:400;
  font-size:1em;
  font-family:'Open Sans', sans-serif;
  line-height:2em;
}
body {
  padding:80px 10px;
  -webkit-backface-visibility:hidden;
}
a {
  color:#34495e;
  text-decoration:none;
}
a:hover {
  color:#2a2a2a;
}
hr {
  display:none;
}

/* Breadcrumbs */
h1 {
  width:100%;
  position:fixed;
  top:0;
  right:0;
  padding:0 10px;  
  border-bottom: 1px solid #95a5a6;
  font-size:18px;
  background: #fff;
}
h1, h1 > a {
  color:#bdc3c7;
  font-weight:100;
}
#root-droplist > li > a{
  display:inline-block;
}
#root-droplist li ul li {
  padding:0 10px;
}
#root-droplist .menu-icon{
	float:right;
	padding:0 5px;
}
#ajax-status{
	height:12px;
	width:12px;
	margin-right:5px;
	border-radius:50%;
	background-color:#999999;
	display:inline-block;
	transition: 0.2s;
	--webkit-transition: 0.2s;
}
.active #ajax-status.green{
	background-color:green;
}
.active #ajax-status.red{
	background-color:red;
}
/* Table */
table {
  width:100%;
  border-collapse:collapse;
  font-size:.875em;
}
table.tablesorter thead tr .header {
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table.tablesorter td, table.tablesorter th{
  width:33%;
}
table.tablesorter thead tr .headerSortUp {
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}
table.tablesorter thead tr .headerSortDown {
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
  border-top: 1px solid #ecf0f1;
  border-bottom: 1px solid #ecf0f1;
}
#first-row th {
  padding-left:10px;
}
tbody tr td a, .parent-directory{
  padding-left:15px;
  display: inline-block;
  float: left;
  background: url('chrome-extension://__MSG_@@extension_id__/images/fileicons/default.png') no-repeat;
}
.parent-directory{
  padding-left:20px;
}

tr {
  background:#ffffff;
  outline:0;
  border:0;
}
tr:hover td {
  background:#f6f6f6;
}
th {
  text-align:left;
  font-size:.75em;
  padding-right:20px;
  color: #bdc3c7;
}
th strong{
  font-weight:100;
}
th + th {
        width:65%;
}
th + th + th {
}
th + th + th + th {
        width:5%;
}
tr td:first-of-type {
        padding-left:10px;
        padding-right:10px;
}
td {
        padding:5px 0;
        outline:0;
        border:0;
        border-bottom:1px solid #edf1f5;
        vertical-align:middle;
        text-align:left;
        -webkit-transition:background 200ms ease;
           -moz-transition:background 200ms ease;
            -ms-transition:background 200ms ease;
             -o-transition:background 200ms ease;
                transition:background 200ms ease;
}
td a{
    display: block;
}
tt {
  font-family:'Open Sans', sans-serif;
  font-size:12px;
  padding-left:5px;
}
tr.parent a {
    color:#9099A3;
}
.parent a:hover {
    color:#2281d0;
}

/* File Icons */
.aif, .iff, .m3u, .m4a, .mid, .mp3, .mpa, .ra, .wav, .wma, .f4a, .f4b, .oga, .og{
  background: url('chrome-extension://__MSG_@@extension_id__/images/fileicons/audio.png') no-repeat;
  background-size: 16px 16px;
}
.bin{
  background: url('chrome-extension://__MSG_@@extension_id__/images/fileicons/bin.png') no-repeat;
  background-size: 16px 16px;
}

.c{
  background: url('chrome-extension://__MSG_@@extension_id__/images/fileicons/c.png') no-repeat;
  background-size: 16px 16px;
}

.xlsx, .xlsm, .xltx, .xltm, .xlam, .xlr, .xls, .csv{
  background: url('chrome-extension://__MSG_@@extension_id__/images/fileicons/calc.png') no-repeat;
  background-size: 16px 16px;
}

.css{
  background: url('chrome-extension://__MSG_@@extension_id__/images/fileicons/css.png') no-repeat;
  background-size: 16px 16px;
}

.deb{
  background: url('chrome-extension://__MSG_@@extension_id__/images/fileicons/deb.png') no-repeat;
  background-size: 16px 16px;
}

.doc, .docx, .docm, .dot, .dotx, .dotm, .log, .msg, .odt, .pages, .rtf, .tex, .wpd, .wps{
  background: url('chrome-extension://__MSG_@@extension_id__/images/fileicons/doc.png') no-repeat;
  background-size: 16px 16px;
}
.ds {
  background: url('chrome-extension://__MSG_@@extension_id__/images/fileicons/ds.png') no-repeat;
  background-size: 16px 16px;
}
.svg{
  background: url('chrome-extension://__MSG_@@extension_id__/images/fileicons/draw.png') no-repeat;
  background-size: 16px 16px;
}

.ai, .eps{
  background: url('chrome-extension://__MSG_@@extension_id__/images/fileicons/eps.png') no-repeat;
  background-size: 16px 16px;
}

.gif{
  background: url('chrome-extension://__MSG_@@extension_id__/images/fileicons/gif.png') no-repeat;
  background-size: 16px 16px;
}

.html, .xhtml, .shtml, .htm, .isml{
  background: url('chrome-extension://__MSG_@@extension_id__/images/fileicons/html.png') no-repeat;
  background-size: 16px 16px;
}

.ico{
  background: url('chrome-extension://__MSG_@@extension_id__/images/fileicons/ico.png') no-repeat;
  background-size: 16px 16px;
}

.jar{
  background: url('chrome-extension://__MSG_@@extension_id__/images/fileicons/java.png') no-repeat;
  background-size: 16px 16px;
}

.jpg, .jpeg{
  background: url('chrome-extension://__MSG_@@extension_id__/images/fileicons/jpg.png') no-repeat;
  background-size: 16px 16px;
}

.js, .json{
  background: url('chrome-extension://__MSG_@@extension_id__/images/fileicons/js.png') no-repeat;
  background-size: 16px 16px;
}

.md{
  background: url('chrome-extension://__MSG_@@extension_id__/images/fileicons/markdown.png') no-repeat;
  background-size: 16px 16px;
}

.pkg, .dmg{
  background: url('chrome-extension://__MSG_@@extension_id__/images/fileicons/package.png') no-repeat;
  background-size: 16px 16px;
}

.pdf{
  background: url('chrome-extension://__MSG_@@extension_id__/images/fileicons/pdf.png') no-repeat;
  background-size: 16px 16px;
}

.php, .phtml{
  background: url('chrome-extension://__MSG_@@extension_id__/images/fileicons/php.png') no-repeat;
  background-size: 16px 16px;
}

.png{
  background: url('chrome-extension://__MSG_@@extension_id__/images/fileicons/png.png') no-repeat;
  background-size: 16px 16px;
}

.ps{
  background: url('chrome-extension://__MSG_@@extension_id__/images/fileicons/ps.png') no-repeat;
  background-size: 16px 16px;
}

.psd{
  background: url('chrome-extension://__MSG_@@extension_id__/images/fileicons/psd.png') no-repeat;
  background-size: 16px 16px;
}

.rar{
  background: url('chrome-extension://__MSG_@@extension_id__/images/fileicons/rar.png') no-repeat;
  background-size: 16px 16px;
}

.rb{
  background: url('chrome-extension://__MSG_@@extension_id__/images/fileicons/rb.png') no-repeat;
  background-size: 16px 16px;
}

.rpm{
  background: url('chrome-extension://__MSG_@@extension_id__/images/fileicons/rpm.png') no-repeat;
  background-size: 16px 16px;
}

.rss{
  background: url('chrome-extension://__MSG_@@extension_id__/images/fileicons/rss.png') no-repeat;
  background-size: 16px 16px;
}

.sql{
  background: url('chrome-extension://__MSG_@@extension_id__/images/fileicons/sql.png') no-repeat;
  background-size: 16px 16px;
}

.tiff{
  background: url('chrome-extension://__MSG_@@extension_id__/images/fileicons/tiff.png') no-repeat;
  background-size: 16px 16px;
}

.txt, .nfo{
  background: url('chrome-extension://__MSG_@@extension_id__/images/fileicons/text.png') no-repeat;
  background-size: 16px 16px;
}

.asf, .asx, .avi, .flv, .mkv, .mov, .mp4, .mpg, .rm, .srt, .swf, .vob, .wmv, .m4v, .f4v, .f4p, .ogv{
  background: url('chrome-extension://__MSG_@@extension_id__/images/fileicons/video.png') no-repeat;
  background-size: 16px 16px;
}

.xml{
  background: url('chrome-extension://__MSG_@@extension_id__/images/fileicons/xml.png') no-repeat;
  background-size: 16px 16px;
}

.zip{
  background: url('chrome-extension://__MSG_@@extension_id__/images/fileicons/zip.png') no-repeat;
  background-size: 16px 16px;
}

.default{
  background: url('chrome-extension://__MSG_@@extension_id__/images/fileicons/default.png') no-repeat;
  background-size: 16px 16px;
}
.folder{
  background: url('chrome-extension://__MSG_@@extension_id__/images/fileicons/folder.png') no-repeat;
  background-size: 16px 16px;
}
.parent-directory{
  background: url('chrome-extension://__MSG_@@extension_id__/images/fileicons/folder-parent-old.png') no-repeat;
  background-size: 16px 16px;
}

.diff.odd{
  border:1px solid #ccc;
  background-color:#ecf0f1;
}
.diff.even{
  border:1px solid #ccc;
  background-color:#bdc3c7;
}
.diff.even:hover, .diff.odd:hover{
	transition:0.3s;
	border:1px solid #000;
}
pre span {
  background-color:transparent;
  display:block;
  transition: all 1s;
  -webkit-transition: all 1s;
}


/******************************************************************************
* jVanilla
******************************************************************************/

/* jVanilla Styles
-----------------------------------------------------------------------------------------------*/
ul ul {
display: none;
background: #ffffff;
}
ul li:hover > ul {
display: block;
}
ul {
/*background: #086FA1;*/
border-radius: 2px;
list-style: none;
position: relative;
}
ul:after {
content: "";
clear: both;
display: block;
}
ul li {
float: left;
transition:0.3s;
}
ul li:hover, ul li.active {
background:#f6f6f6;
}
ul li:hover a {
/*color: #fff*/
}
ul li a {
display: block;
/*padding: 8px 5px;*/
/*color: #FFF;*/
text-decoration: none
}
ul ul {
/*background: #5f6975;*/
border-radius: 0px;
padding: 0;
position: absolute;
top: 100%
}
ul ul li {
float: none;
border-bottom: 1px solid #6b727c;
border-right: 1px solid #6b727c;
border-left: 1px solid #6b727c;
position: relative
}
ul ul li a {
	font-size:20px;
}
ul ul li a:hover {
/*background: #4b545f;*/
}
ul ul ul {
position: absolute;
left: 100%;
top: 0;
}
.js-enabled ul li:hover > ul {
display: none;
}
